<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msgOne"></p>
        <p id="msgTwo"></p>
    </div>

    {{>footer}}

     <script src="/js/app.js"></script>
</body>

</html>